.sum-object {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 300px;
    justify-content: center;
    max-width: 800px;
    margin: auto;
}

.sum-object > .sum-object-entry {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    margin: 5px;
}